{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Gestion des salles de classes</h1>
        <p>Cliquez sur une salle pour afficher les cours qui s'y dérouleront</p>
        <ul>
            {% for room in rooms %}
                <li><a href="{{ path('app_room_detail', {room : room.id}) }}">Salle {{ room.number }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
